* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1511732351157-1865efcb7b7b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-attachment: fixed;
  clip-path: circle(0px at center);
}

.container {
  position: relative;
  margin-top: 200vh;
  background: #fff;
  padding: 100px;
}

.container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.title {
  position: relative;
  top: 250px;
  z-index: 1;
  font-size: 3em;
  text-align: center;
  width: 100%;
}
